:root {
    --sky:rgb(97, 178, 224);
    --sun:rgb(250, 220, 85);
}
header {
    margin-top: 0;
    width: 100%;
    background-image: url(/images/sky-5534319_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    box-shadow: 0px 0px 10px var(--sky);
    margin-bottom: 15px;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin-block-start: 0;
    padding: 5px;   
}
.head {
    font-family: 'Ephesis', cursive;
    color: var(--sun);
    font-weight: normal;
    font-size: 6rem;
}
.custom-btn {
    background-color: var(--sky);
    color:white;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#userInfo {
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--sky);
}
h4 {
    margin-bottom: 0;
    text-align: center;
}
.info {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
h3 {
    margin-left: 50px;
    margin-bottom: -25px;
}
#head3 {
    font-family: 'Ephesis', cursive;
    font-size: 4rem;
    color: var(--sky);
}
#fiveDay {
    align-content: center;
    padding: 10px
}
.forecast {
    background-image: linear-gradient(var(--sky),white);
    border-radius: 15px 15px 0 0;
    margin: 10px;
    align-content: center;    
}
